 <div>
    <h1 class = "d-flex m-5" >My Tasks</h1>
  <div class = "container">
    <ul class="list-group">
         <% @tasks.each do |task| %>
           <li class="list-group-item">
             <div class="form-check">
               <%= check_box_tag "task_ids[]", task.id, false, class: "form-check-input" %>
               <label class="form-check-label">
                 <%= link_to task.title, task_path(task) %>
               </label>
             </div>
           </li>
         <% end %>
       </ul>
  </div>
</div>
